APP_NAME=onp_academy
APP_ENV=local
APP_KEY=base64:ZnZl8m/yFG1qXZmhi0y68NS5Bw+VQVZl4tR69pC3ZKA=
APP_DEBUG=true
APP_URL=http://academy.operadeparis.backstage.test

DOMAIN_API=academy.operadeparis.backstage.test
L5_SWAGGER_GENERATE_ALWAYS=true

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120